In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import random

plt.rcParams['font.sans-serif'] = ['Arial Unicode MS']
plt.rcParams['axes.unicode_minus'] = False # 解决保存图像是负号'-'显示为方块的问题

In [19]:
# 1.15
df = pd.read_excel('./data/MTBE.xls')
s_list = []
for i in range(0, 5):
    s_list.append(random.randint(0, len(df)))
df.loc[s_list]

,pH,SpConduct,DissOxy,RoadsPct,IndPct,UrbanPct,DevPct,WellClass,Aquifier,Depth,SafeYld,Distance,MTBE-Detect,MTBE-Level,HouseDen,PopDen
217,7.69,400.8,1.48,2.52,17.61,23.11,24.88,Public,Bedrock,NaN,NaN,418.25,Below Limit,0.20,183.11,58.01
201,7.37,182.5,0.63,0.59,0.00,9.46,9.46,Public,Bedrock,47.8536,NaN,4651.51,Below Limit,0.20,3.09,1.33
130,6.49,287.5,4.77,3.57,14.14,44.61,50.17,Public,Bedrock,53.3400,132.475397,264.93,Detect,0.23,99.79,47.59
37,8.07,344.2,0.55,3.65,0.00,70.84,71.97,Private,Bedrock,48.7680,NaN,1067.79,Detect,1.71,392.65,127.03
148,5.34,625.9,4.45,1.30,7.44,18.61,18.61,Public,Bedrock,73.1520,98.410295,51.53,Detect,2.23,672.16,339.54

In [22]:
# 1.16
df = pd.read_excel('./data/EARTHQUAKE.xls')
s_list = []
for i in range(0, 30):
    s_list.append(random.randint(0, len(df)))
df.loc[s_list]

      YEAR  MONTH  DAY  HOUR  MINUTE  MAGNITUDE
371   1994      1   19     2      18        2.3
2316  1994      1   30    11       9        1.2
1538  1994      1   24    16      25        2.5
978   1994      1   21    18      14        1.7
298   1994      1   18    15      56        2.5
1786  1994      1   26     4       4        3.0
1343  1994      1   23    13      35        1.6
2247  1994      1   29     9      37        1.4
473   1994      1   19    16       3        2.2
2256  1994      1   29    11      37        3.4
544   1994      1   19    22       6        2.9
875   1994      1   21     8      24        1.9
1258  1994      1   23     2       0        1.5
1359  1994      1   23    15      58        2.1
799   1994      1   21     0       1        1.5
969   1994      1   21    17      35        1.8
1444  1994      1   24     3      33        1.5
1450  1994      1   24     4      15        4.5
1297  1994      1   23     7       0        2.0
1091  1994      1   22     6      49        1.9
2540  1994      2    2    17      30        1.5
1660  1994      1   25    10      32        2.4
544   1994      1   19    22       6        2.9
1045  1994      1   22     1       8        2.1
2738  1994      2    4    10      37        1.5
945   1994      1   21    14      23        1.6
592   1994      1   20     2      45        2.6
216   1994      1   18     3       5        2.5
523   1994      1   19    20      16        1.8
812   1994      1   21     1      31        2.0