In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

plt.rcParams['font.sans-serif'] = ['Arial Unicode MS']
plt.rcParams['axes.unicode_minus'] = False # 解决保存图像是负号'-'显示为方块的问题

In [11]:
# 5.47
df = pd.read_excel("./data/ASPENHTS.XLS")
df.describe()

# 5.49
# df = pd.read_excel("./data/SHIPSANIT.XLS")
# df.describe()

# 5.51
df = pd.read_excel("./data/SANDSTONE.XLS")
df.describe()

WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero

            PermA       PermB       PermC
count  100.000000  100.000000  100.000000
mean    73.623000  128.537000   83.070000
std     14.475021   21.971642   20.048474
min     55.200000   50.400000   52.200000
25%     62.200000  108.950000   67.975000
50%     70.450000  139.300000   78.650000
75%     81.275000  146.875000   95.250000
max    122.400000  150.000000  129.000000