In [1]:
import pandas as pd

In [8]:
# 7.31
df = pd.DataFrame([0.0040868, 0.0157644,0.0023579,0.0067379,0.0165727,0.0067379,0.0078284,0.0111090,0.0100518])
df.describe()

              0
count  9.000000
mean   0.009027
std    0.004854
min    0.002358
25%    0.006738
50%    0.007828
75%    0.011109
max    0.016573

In [9]:
# 7.33
df = pd.DataFrame([
    4,3,4,4,3,4,3,3,3,2,6,8,4,2,
    2,2,2,3,2,4,1,3,3,3,3,4,3,2,
])
df.describe()

               0
count  28.000000
mean    3.214286
std     1.370513
min     1.000000
25%     2.000000
50%     3.000000
75%     4.000000
max     8.000000

In [10]:
# 7.35
df = pd.DataFrame([
    .95,.83,1.2,.89,1.45,1.12
])
df.describe()

              0
count  6.000000
mean   1.073333
std    0.231574
min    0.830000
25%    0.905000
50%    1.035000
75%    1.180000
max    1.450000

In [11]:
# 7.37
df = pd.DataFrame([
    0.275, 0.261, 0.209, 0.266, 0.265, 0.312, 0.285, 0.317, 0.229,
    0.251, 0.256, 0.339, 0.213, 0.178, 0.217, 0.307, 0.264, 0.220,
    0.298, 0.169, 0.342, 0.270, 0.262, 0.228, 0.319
])
df.describe()

               0
count  25.000000
mean    0.262080
std     0.046691
min     0.169000
25%     0.228000
50%     0.264000
75%     0.298000
max     0.342000