In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("./data/DISTILL.XLS")
df.describe()

         Amount
count  3.000000
mean   5.243333
std    0.192180
min    5.070000
25%    5.140000
50%    5.210000
75%    5.330000
max    5.450000

In [3]:
df = pd.DataFrame([
    14622, 13196, 11948, 11289, 11964, 10526, 10387, 10592, 10460, 10086,
    14628, 13396, 11726, 11252, 12449, 11030, 10787, 10603, 10144, 11674,
    11510, 10946, 10508, 10604, 10270, 10529, 10360, 14796, 12913, 12270,
    11842, 10656, 11360, 11136, 10814, 13523, 11289, 11183, 10951, 9722,
    10481, 9812, 9669, 9643, 9115, 9115, 11588, 10888, 9738, 9295,
    9421, 9105, 10233, 10186, 9918, 9209, 9532, 9933, 9152, 9295,
    16243, 14628, 12766, 8714, 9469, 11948, 12414
])
df.describe()

                  0
count     67.000000
mean   11066.432836
std     1594.959905
min     8714.000000
25%     9925.500000
50%    10656.000000
75%    11784.000000
max    16243.000000

In [4]:
df = pd.DataFrame([-4.5, -1., -.5, -.15, 0, .01, .02, .05, .15, .2, .5, .5, 1.0, 2.0, 3.0])
df.describe()

               0
count  15.000000
mean    0.085333
std     1.603095
min    -4.500000
25%    -0.075000
50%     0.050000
75%     0.500000
max     3.000000